.container{
    background-color: #7A7A77;
}





.box1{
    width: 400px;
    height: 100px;
    border: 6px solid red;
    border-radius: 10px;
    margin-left: 33%;
    margin-top: 0px;
    background-color: white;
    color: #721C71;
    text-shadow: 1px 1px #B12323;
    font-style: italic;
    line-height: 7px;
    text-align: center;
    font-weight: bold;
    box-shadow: 7px 7px #8D1785;
}
.box2{
    width: 200px;
    height: 200px;
    border: 6px solid red;
    position: absolute;
    top: 28%;
    left: 26px;
    display: inline-block;
    border-radius: 10px;
    font-weight: bold;
    color: #171A3F;
    background-color: white;
    text-align: center;
    text-shadow: 1px 1px #171A3f;
    box-shadow: 7px 7px #8D1785;
    

}
.box3{
    width: 200px;
    height: 200px;
    border: 6px solid red;
    position: absolute;
    top:77%;
    left: 26px;
    display: inline-block;
    border-radius: 10px;
    font-weight: bold;
    color: #171A3F;
    background-color: white;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 1px 1px #171A3f;
    box-shadow: 7px 7px #8D1785;
}
.box4{
    width: 200px;
    height: 200px;
    border: 6px solid red;
    position: absolute;
    top: 168px;
    right: 26px;
    display: inline-block;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    box-shadow: 7px 7px #8D1785;

}
.box5{
    width: 200px;
    height: 200px;
    border: 6px solid red;
    position: absolute;
    bottom: -70px;
    right: 26px;
    display: inline-block;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    line-height: 15px;
    color:#171A3f;
    text-shadow: 1px 1px #171A3f;
    font-size: x-small;
    box-shadow: 7px 7px #8D1785;
}
.box6{
    width: 400px;
    height: 80px;
    border: 6px solid red;
    border-radius: 8px;
    margin-left: 33%;
    margin-top: 250px;
    border-radius: 10px;
    background-color: yellow;
    position: fixed;
    color: #E72C2C;
    font-weight: bold;
    box-shadow: 7px 7px #8D1785;
    

}

.line{
    margin-top: 4px;
    margin-bottom: 2px;
    border-color: #3B3B3B;
    background-color: #3B3B3B;

    
}
.line1{
    margin-top: 4px;
    margin-bottom: 2px;
    
}
.mainbox{
    border: 8px solid green;
    height: 600px;
    
}

.box{
    border:6px solid purple ;
    height: 500px;
    width: 450px;
    margin-left: 350px;
    margin-top: 20px;
    background-color: green;

}   
.box7{
    border: 2px solid #414141;
    height: 200px;
    width: 215px;
    float: left;
    margin-top: 20px;
    margin-left: 3px;
    background-color: #FAFD67;
    text-align: center;
    font-style: italic;
   
    
}
.box8{
    border: 2px solid #414141;
    height: 200px;
    width: 215px;
    float: left;
    margin-top: 20px;
    margin-left: 5px;
    background-color: #FAFD67;
    text-align: center;
    font-style: italic;
}
.box9{
    border: 2px solid #414141;
    height: 200px;
    width: 440px;
    float: left;
    margin-top: 15px;
    margin-left: 3px;
    background-color: #FAFD67;
    text-align: center;
    font-style: italic;
}
#text1{
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    font-style: italic;
    line-height: 15px;
    padding: 10px;
    
}
#text2{
    display: inline-block;
    font-size: x-small;
    text-align: center;
    font-style: italic;
    position: relative;
    top: -30px;
    left: 15px;


    

}